output/visualization/1-EZE_IMG_20240629_001354_target_0_color_jitter_noise.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_color_jitter.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_noise.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_45.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_135_color_jitter.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_135_noise.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_135.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_180_color_jitter.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_180_noise.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_180.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_225_color_jitter.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_225_noise.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_225.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_270_color_jitter.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_270_noise.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_270.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_315_color_jitter.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_315_noise.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0_rotate_315.jpg
output/visualization/1-EZE_IMG_20240629_001354_target_0.jpg
manhole_defect_detection_configs/2024中国大学生服务外包创新创业大赛data.zip
.idea/
manhole_defect_detection_configs/dataset_defect_manholecover
manhole_defect_detection_configs/train
manhole_defect_detection_configs/train_xmls
manhole_defect_detection_configs/work_dirs
manhole_defect_detection_configs/2024中国大学生服务外包创新创业大赛data.zip
manhole_defect_detection_configs/标签说明.txt
manhole_defect_detection_configs/well_cls.txt